<% include ./partial/header %> <% include ./partial/studfunction %>

  
    <div class="col-sm-6" style="    flex: 0 0 50%;
    max-width: 50%;
    margin-left: 431px;
    margin-top: -181px; text-align: -webkit-center;">
      <div class="thumbnail">
        <h1><strong>Name:</strong> <%=student.name%></h1>
      

        <h4>Username: <%=student.username%></h4>
        <h4>Location:<%=student.department%></h4>
        <h4>Phone: <%=student.hostel%></h4>
      </div>
      <a class="btn btn-warning" href="/student/<%=student._id%>/edit">Edit Profile</a>
    </div>
  </div>
</div>

<% include ./partial/footer %>
